@charset "UTF-8";
@font-face {
  font-family: 'ON-여씨향약언해B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-여씨향약언해B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes object-rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* turn이라는 단위는 정확히 한 바퀴를 돌리라는 의미입니다. */
    transform: rotateY(1turn);
  }
}

body {
  width: 100vh;
  background: #ffe7be;
  background-size: cover;
}

body::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://image.utoimage.com/preview/cp872102/2019/09/201909008215_500.jpg) 50% 50%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.container {
  font-family: 'ON-여씨향약언해B';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="scence"] {
  transform-style: preserve-3d;
}

.circle {
  transform-style: preserve-3d;
}

.circle .word {
  transform-style: preserve-3d;
}

.circle span {
  position: absolute;
}

.scence {
  transform: rotateX(10deg) rotateZ(-20deg);
  animation: scence-rotate 1s linear infinite alternate;
}

.scence .circle {
  font-size: 50px;
  animation: object-rotate 10s linear infinite;
}

.scence .circle span {
  position: absolute;
  color: #300601;
  transform: rotateY(calc(var(--char-index)*10deg)) translateZ(350px) translateY(-100px);
}

.scence2 {
  transform: rotateX(10deg) rotateZ(-20deg) translateY(-220px);
}

.scence2 .circle {
  font-size: 36px;
  animation: object-rotate 12s linear infinite;
}

.scence2 .circle span {
  position: absolute;
  color: goldenrod;
  transform: rotateY(calc(var(--char-index)*15.5deg)) translateZ(180px);
}

.scence3 {
  transform: rotateX(10deg) rotateZ(-20deg) translateY(40px);
}

.scence3 .circle {
  font-size: 40px;
  animation: object-rotate 8s linear infinite;
}

.scence3 .circle span {
  position: absolute;
  color: #B88F5A;
  transform: rotateY(calc(var(--char-index)*15.5deg)) translateZ(180px);
}

.scence4 {
  transform: rotateX(10deg) rotateZ(-20deg) translateY(140px);
}

.scence4 .circle {
  font-size: 60px;
  font-weight: bold;
  animation: object-rotate 10s linear infinite;
}

.scence4 .circle span {
  position: absolute;
  color: #B38147;
  transform: rotateY(calc(var(--char-index)*14deg)) translateZ(280px);
}
