
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); //Noto Sans KR
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */
*{-webkit-text-size-adjust:none; -webkit-font-feature-settings: "kern" 1;}
html, body, div, span, a, img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, iframe,form, fieldset, input, textarea, select, label, table, caption, th, tr, td, button { margin:0; padding:0; box-sizing:border-box;}
ul,ol,li {list-style:none;}

legend { width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; visibility:hidden; }
img {border:0; vertical-align:middle;max-width:100%;}
h1, h2, h3, h4, h5, h6, p {text-align:inherit; font-weight:400;}
strong{font-weight: 700;}
button, input[type="submit"], input[type="button"]{ cursor:pointer; background:none; border:none;}
select,button{vertical-align:middle; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
a{ text-decoration:none; color:inherit;}
table, th, td{ border-collapse:collapse; }

//접근성을 고려한 화면 감춤
.a11y-hidden{ 
  overflow:hidden; position:absolute; clip:rect(0,0,0,0); 
  width:1px; height:1px; margin:-1px; border:0;padding:0;
}
//화면에 표시되는 caption 요소의 공간 제거를 위한 설정
caption.a11y-hidden { position: static;}

//font-size
html{ font-size: 10px;}
body{ font-size: 1.6rem; font-family: 'Noto Sans KR', sans-serif;}
input{ font-family: 'Noto Sans KR', sans-serif;}

.wrap{
  background:#F2F2F2; 
  border:2px solid #BDBDBD;
  border-radius: 15px;
  margin:80px auto;
  width:1060px;
  max-width: calc(100% - 60px);
  padding:30px;
  box-sizing: border-box;
}

header{
  h2{ text-align: center;
    font-weight: 700;
    
    font-size: 24px; color:#000;
    
    width:650px; margin: 0 auto;
    max-width: 100%;
    padding:10px 0 37px 0;
    border-bottom: 2px solid #BDBDBD;
  }
  nav{
    ul{ display: flex; justify-content: center;
      li{ padding:18px 0;
        a{display: block;
          padding: 10px 30px; font-size:16px; color:#828282;}
        &.on{ 
          a{color:#000; font-weight: bold;}
        }
      }
    }
  }
}

main{
  ul{ display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:24px 20px;

    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
    padding:30px;
    background-color: #fff;
    
    li{ 
      border: 1px solid #BDBDBD; background-color: #fff;
      margin-bottom:24px;
      box-sizing: border-box; 
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      
      .thumb{border: 1px solid #BDBDBD;
         display: block; 
         border-radius: 10px;
         margin:20px 20px 0 20px;
          img{width:100%; height: 250px; object-fit: cover; border-radius: 10px;}
        }
        h4{font-weight: bold; 
          margin:11px 20px 12px;
          width:100%; overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        dl{ margin:0 20px; 
          div{ display: flex; margin-bottom: 4px;
            dt{color:#828282; font-size: 13px; width:30px;}
            dd{color:#000; font-size: 13px;}
          }
          div:nth-child(1),
          div:nth-child(2){
            width:50%; float: left;
          }
          div:nth-child(3){
            clear:both;
          }
        }
      }
    }
  }

  .btn-g{ border-top:1px solid #BDBDBD;
    background: #F2F2F2;
    display: flex; height: 40px;
    margin-top:18px;
    border-radius: 0 0 10px 10px;
    a{ display: flex; flex-grow: 1; align-items: center; justify-content: center;
      width:calc(100% - 2px);
      height:calc(100% - 2px);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color:#000;
      background: #F2F2F2;
      margin:1px; 
      &:first-child{
        border-radius: 0 0 0 10px;}
      &:last-child{border-radius: 0 0 10px 0;}
      
    }
    .line{display:block; width:1px; height: 100%; background: #BDBDBD;}

  }


  footer{
    background:#F2F2F2;
    padding-top:50px;
    section{
      width:1189px;
      max-width: calc(100% - 60px);
      margin:0 auto;
      position: relative;

      dl{ display: flex;}
    }
    strong{ line-height: 36px;}
    .info{ color:#4F4F4F;
      display: flex; justify-content: space-between; align-items: center;
      border-top: 1px solid #C4C4C4;
      height: 90px;
      margin-top:10px;
      dl{ display: flex; flex-wrap: wrap;}
      dl div{display: flex; 
        dt{font-weight: bold; margin-right: 4px;}
        &::before{
          display: inline-block;
          content: "|"; font-size: 1.4rem; color:#BDBDBD;
          margin:0 8px;
        }
        &:first-child{
          dd{font-weight: bold;}
          &::before{display: none;}
        }
      }
    }
    .sns-list{ display: flex; position: absolute; top:-7px; right:0;

      a{display: block;padding:11px;
        img{width:24px; height: 24px; }
      }
    }
  }

@media(max-width:768px){
  footer .info {flex-direction: column;
    dl{justify-content:center;}
  }
}

main ul{
  @media(max-width:1120px){
    grid-template-columns: repeat(3, 1fr);
    li .thumb img{ height: 300px;}
  }
  @media(max-width:880px){
    grid-template-columns: repeat(2, 1fr);
    li .thumb img{ height: 330px;}
  }
  @media(max-width:640px){
    grid-template-columns: repeat(1, 1fr);
    li .thumb img{ height: 360px;}
  }
}